.task-management {
  &__tasks {
    display: flex;
    flex-direction: column;
  }

  &__labels {
    display: flex;
    flex-direction: row;
  }

  &__label {
    width: 150px;
  }

  &__topbar {
    display: flex;
    flex-direction: row;
  }

  &__new-task {
    margin-left: 15px;
  }
}