.chart-unit {
  min-width: 20px;
  min-height: 20px;
  max-height: 20px;
  max-width: 20px;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;

  &--inactive {
    visibility: hidden;
  }

  &--interrupted {
    min-height: 7px;
    max-height: 7px;
  }

  &__period-arrow {
    position: absolute;
    left: -1px;
    bottom: 0;
    width: 1px;
    height: 26px;
    background: #000;
    visibility: visible;

    &::after {
      content: '';
      width: 5px;
      height: 5px;
      position: absolute;
      left: -2px;
      top: 0;
      border-top: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(-45deg);
    }
  }

  &__deadline-arrow {
    visibility: visible;
    height: 29px;
    width: 1px;
    background: #000;
    transform: translateX(-1px);
    position: absolute;
    bottom: 0;

    &::after {
      content: '';
      width: 5px;
      height: 5px;
      position: absolute;
      left: -3px;
      top: -7px;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      transform: rotate(-45deg);
    }
    

    &--overdue::after {
      border-bottom: 1px solid red;
      border-left: 1px solid red;
    }
  }
}